*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(242, 230, 213);
    text-align: center;
    
}
.container {
    margin-top: 16vh;
    background-color: #6d6b6b00;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    
    
}
.main-text {
    margin-bottom: 2rem;
}
.gif-area{
    background-color: rgba(253, 253, 253, 0);
    max-width: 30vh;;
    max-height: 30vh;
    width: 50vw;;
    height: 50vh;
    text-align: center;   
    margin-bottom: 2rem;
    padding: 0.6rem;
    
}
.gif {
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    /* box-shadow: 1px 0.5px 30px rgba(93, 80, 108, 0.579); */
}
.action-btns {
    
    display: flex;
    /* justify-content: center;
    justify-content: space-around; */
}
.yes-btn,
.no-btn {
    border-radius: 0.5rem;
    
    
}
.yes-btn{
    /* padding: 20rem 10rem; */
    
    background-color: green;
    border: none;
    font-weight: bold ;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-right: 2rem; */
}
.no-btn {
    
    margin-top: 0.6rem;
    background-color: red;
    border: none;
    font-weight: bold ;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rq-text{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}
.txt{
    font-weight: bold;
}
.main-text{
    color: rgb(232, 29, 93);
    font-weight: bold;
}
.gif-final {
    height: 20vh;
    width: 20vh;
    box-shadow: 1px 0.5px 30px rgba(0, 0, 0, 0);
    border-radius: 1rem;
}
.ybs{

    background-color : #e4adde00;
    font-size : 5rem;
    border-radius : 50%;   

}